<div class="scroll-y mx-3 mb-0 card">
                                
    <div class="list list-row"><div class="list-item " data-id="7" data-sr-id="2" style="visibility: visible; transform: none; opacity: 1; transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;">
            <div>
                <label class="ui-check m-0 ">
                    <input type="checkbox" name="id" value="7">
                    <i></i>
                </label>
            </div>
            <div>
                <a href="#" data-toggle-class="" data-pjax-state="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark active-primary text-muted"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg>
                </a>
            </div>
            <div>
                <a href="app.user.detail.html#7" data-pjax-state="">
                    <span class="w-40 avatar gd-primary" data-toggle-class="loading">
    <span class="avatar-status on b-white avatar-right"></span>
                    <img src="../assets/img/a7.jpg" alt=".">
                    </span>
                </a>
            </div>
            <div class="flex">
                <a href="app.user.detail.html#7" class="item-author text-color " data-pjax-state="">Frank Kelley</a>
                <div class="item-mail text-muted h-1x d-none d-sm-block">
                    frank-kelley@lostcorp.com
                </div>
                <div class="item-tag tag hide">
                    Suppliers,Work,Clients,Company,Team,Personal,Partners,Friends
                </div>
            </div>
            <div>
                <div class="item-action dropdown">
                    <a href="#" data-toggle="dropdown" class="text-muted" data-pjax-state="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                        <a class="dropdown-item" href="#" data-pjax-state="">
                            See detail
                        </a>
                        <a class="dropdown-item download" data-pjax-state="">
                            Download
                        </a>
                        <a class="dropdown-item edit" data-pjax-state="">
                            Edit
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item trash" data-pjax-state="">
                            Delete item
                        </a>
                    </div>
                </div>
            </div>
        </div><div class="list-item " data-id="1" data-sr-id="3" style="visibility: visible; transform: none; opacity: 1; transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;">
            <div>
                <label class="ui-check m-0 ">
                    <input type="checkbox" name="id" value="1">
                    <i></i>
                </label>
            </div>
            <div>
                <a href="#" data-toggle-class="" data-pjax-state="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark active-primary text-muted"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg>
                </a>
            </div>
            <div>
                <a href="app.user.detail.html#1" data-pjax-state="">
                    <span class="w-40 avatar gd-primary" data-toggle-class="loading">
    <span class="avatar-status on b-white avatar-right"></span>
                    <img src="../assets/img/a1.jpg" alt=".">
                    </span>
                </a>
            </div>
            <div class="flex">
                <a href="app.user.detail.html#1" class="item-author text-color " data-pjax-state="">Joyce McCoy</a>
                <div class="item-mail text-muted h-1x d-none d-sm-block">
                    joyce-mccoy@samsuminc..com
                </div>
                <div class="item-tag tag hide">
                    Team,Suppliers,Work,Partners,Personal,Friends,Company,Clients
                </div>
            </div>
            <div>
                <div class="item-action dropdown">
                    <a href="#" data-toggle="dropdown" class="text-muted" data-pjax-state="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                        <a class="dropdown-item" href="#" data-pjax-state="">
                            See detail
                        </a>
                        <a class="dropdown-item download" data-pjax-state="">
                            Download
                        </a>
                        <a class="dropdown-item edit" data-pjax-state="">
                            Edit
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item trash" data-pjax-state="">
                            Delete item
                        </a>
                    </div>
                </div>
            </div>
        </div><div class="list-item " data-id="2" data-sr-id="4" style="visibility: visible; transform: none; opacity: 1; transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;">
            <div>
                <label class="ui-check m-0 ">
                    <input type="checkbox" name="id" value="2">
                    <i></i>
                </label>
            </div>
            <div>
                <a href="#" data-toggle-class="" data-pjax-state="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark active-primary text-muted"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg>
                </a>
            </div>
            <div>
                <a href="app.user.detail.html#2" data-pjax-state="">
                    <span class="w-40 avatar gd-primary" data-toggle-class="loading">
    <span class="avatar-status off b-white avatar-right"></span>
                    <img src="../assets/img/a2.jpg" alt=".">
                    </span>
                </a>
            </div>
            <div class="flex">
                <a href="app.user.detail.html#2" class="item-author text-color " data-pjax-state="">Kathy Alexander</a>
                <div class="item-mail text-muted h-1x d-none d-sm-block">
                    kathy-alexander@microsoft.com
                </div>
                <div class="item-tag tag hide">
                    Friends,Suppliers,Team,Company,Clients,Personal,Work,Partners
                </div>
            </div>
            <div>
                <div class="item-action dropdown">
                    <a href="#" data-toggle="dropdown" class="text-muted" data-pjax-state="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                        <a class="dropdown-item" href="#" data-pjax-state="">
                            See detail
                        </a>
                        <a class="dropdown-item download" data-pjax-state="">
                            Download
                        </a>
                        <a class="dropdown-item edit" data-pjax-state="">
                            Edit
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item trash" data-pjax-state="">
                            Delete item
                        </a>
                    </div>
                </div>
            </div>
        </div><div class="list-item " data-id="17" data-sr-id="5" style="visibility: visible; transform: none; opacity: 1; transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;">
            <div>
                <label class="ui-check m-0 ">
                    <input type="checkbox" name="id" value="17">
                    <i></i>
                </label>
            </div>
            <div>
                <a href="#" data-toggle-class="" data-pjax-state="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark active-primary text-muted"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg>
                </a>
            </div>
            <div>
                <a href="app.user.detail.html#17" data-pjax-state="">
                    <span class="w-40 avatar gd-warning" data-toggle-class="loading">
    <span class="avatar-status on b-white avatar-right"></span> A
                    </span>
                </a>
            </div>
            <div class="flex">
                <a href="app.user.detail.html#17" class="item-author text-color " data-pjax-state="">Alan Mendez</a>
                <div class="item-mail text-muted h-1x d-none d-sm-block">
                    alan-mendez@alibaba.com
                </div>
                <div class="item-tag tag hide">
                    Suppliers,Team,Personal,Friends,Company,Work,Partners,Clients
                </div>
            </div>
            <div>
                <div class="item-action dropdown">
                    <a href="#" data-toggle="dropdown" class="text-muted" data-pjax-state="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                        <a class="dropdown-item" href="#" data-pjax-state="">
                            See detail
                        </a>
                        <a class="dropdown-item download" data-pjax-state="">
                            Download
                        </a>
                        <a class="dropdown-item edit" data-pjax-state="">
                            Edit
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item trash" data-pjax-state="">
                            Delete item
                        </a>
                    </div>
                </div>
            </div>
        </div><div class="list-item " data-id="16" data-sr-id="6" style="visibility: visible; transform: none; opacity: 1; transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;">
            <div>
                <label class="ui-check m-0 ">
                    <input type="checkbox" name="id" value="16">
                    <i></i>
                </label>
            </div>
            <div>
                <a href="#" data-toggle-class="" data-pjax-state="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark active-primary text-muted"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg>
                </a>
            </div>
            <div>
                <a href="app.user.detail.html#16" data-pjax-state="">
                    <span class="w-40 avatar gd-info" data-toggle-class="loading">
    <span class="avatar-status on b-white avatar-right"></span> F
                    </span>
                </a>
            </div>
            <div class="flex">
                <a href="app.user.detail.html#16" class="item-author text-color " data-pjax-state="">Frances Stewart</a>
                <div class="item-mail text-muted h-1x d-none d-sm-block">
                    frances-stewart@microsoft.com
                </div>
                <div class="item-tag tag hide">
                    Friends,Suppliers,Partners,Team,Work,Clients,Company,Personal
                </div>
            </div>
            <div>
                <div class="item-action dropdown">
                    <a href="#" data-toggle="dropdown" class="text-muted" data-pjax-state="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                        <a class="dropdown-item" href="#" data-pjax-state="">
                            See detail
                        </a>
                        <a class="dropdown-item download" data-pjax-state="">
                            Download
                        </a>
                        <a class="dropdown-item edit" data-pjax-state="">
                            Edit
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item trash" data-pjax-state="">
                            Delete item
                        </a>
                    </div>
                </div>
            </div>
        </div><div class="list-item " data-id="20" data-sr-id="7" style="visibility: visible; transform: none; opacity: 1; transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;">
            <div>
                <label class="ui-check m-0 ">
                    <input type="checkbox" name="id" value="20">
                    <i></i>
                </label>
            </div>
            <div>
                <a href="#" data-toggle-class="" data-pjax-state="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark active-primary text-muted"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg>
                </a>
            </div>
            <div>
                <a href="app.user.detail.html#20" data-pjax-state="">
                    <span class="w-40 avatar gd-warning" data-toggle-class="loading">
    <span class="avatar-status on b-white avatar-right"></span> G
                    </span>
                </a>
            </div>
            <div class="flex">
                <a href="app.user.detail.html#20" class="item-author text-color " data-pjax-state="">Gloria Williams</a>
                <div class="item-mail text-muted h-1x d-none d-sm-block">
                    gloria-williams@netflix.com
                </div>
                <div class="item-tag tag hide">
                    Company,Clients,Team,Personal,Work,Partners,Suppliers,Friends
                </div>
            </div>
            <div>
                <div class="item-action dropdown">
                    <a href="#" data-toggle="dropdown" class="text-muted" data-pjax-state="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                        <a class="dropdown-item" href="#" data-pjax-state="">
                            See detail
                        </a>
                        <a class="dropdown-item download" data-pjax-state="">
                            Download
                        </a>
                        <a class="dropdown-item edit" data-pjax-state="">
                            Edit
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item trash" data-pjax-state="">
                            Delete item
                        </a>
                    </div>
                </div>
            </div>
        </div><div class="list-item " data-id="13" data-sr-id="8" style="visibility: visible; transform: none; opacity: 1; transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;">
            <div>
                <label class="ui-check m-0 ">
                    <input type="checkbox" name="id" value="13">
                    <i></i>
                </label>
            </div>
            <div>
                <a href="#" data-toggle-class="" data-pjax-state="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark active-primary text-muted"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg>
                </a>
            </div>
            <div>
                <a href="app.user.detail.html#13" data-pjax-state="">
                    <span class="w-40 avatar gd-primary" data-toggle-class="loading">
    <span class="avatar-status off b-white avatar-right"></span> L
                    </span>
                </a>
            </div>
            <div class="flex">
                <a href="app.user.detail.html#13" class="item-author text-color " data-pjax-state="">Lisa Chapman</a>
                <div class="item-mail text-muted h-1x d-none d-sm-block">
                    lisa-chapman@joejoecompany.com
                </div>
                <div class="item-tag tag hide">
                    Personal,Company,Partners,Suppliers,Clients,Friends,Team,Work
                </div>
            </div>
            <div>
                <div class="item-action dropdown">
                    <a href="#" data-toggle="dropdown" class="text-muted" data-pjax-state="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                        <a class="dropdown-item" href="#" data-pjax-state="">
                            See detail
                        </a>
                        <a class="dropdown-item download" data-pjax-state="">
                            Download
                        </a>
                        <a class="dropdown-item edit" data-pjax-state="">
                            Edit
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item trash" data-pjax-state="">
                            Delete item
                        </a>
                    </div>
                </div>
            </div>
        </div><div class="list-item " data-id="6" data-sr-id="9" style="visibility: visible; transform: none; opacity: 1; transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;">
            <div>
                <label class="ui-check m-0 ">
                    <input type="checkbox" name="id" value="6">
                    <i></i>
                </label>
            </div>
            <div>
                <a href="#" data-toggle-class="" data-pjax-state="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark active-primary text-muted"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg>
                </a>
            </div>
            <div>
                <a href="app.user.detail.html#6" data-pjax-state="">
                    <span class="w-40 avatar gd-danger" data-toggle-class="loading">
    <span class="avatar-status on b-white avatar-right"></span>
                    <img src="../assets/img/a6.jpg" alt=".">
                    </span>
                </a>
            </div>
            <div class="flex">
                <a href="app.user.detail.html#6" class="item-author text-color " data-pjax-state="">Wayne Gray</a>
                <div class="item-mail text-muted h-1x d-none d-sm-block">
                    wayne-gray@google.com
                </div>
                <div class="item-tag tag hide">
                    Partners,Company,Work,Personal,Friends,Clients,Suppliers,Team
                </div>
            </div>
            <div>
                <div class="item-action dropdown">
                    <a href="#" data-toggle="dropdown" class="text-muted" data-pjax-state="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                        <a class="dropdown-item" href="#" data-pjax-state="">
                            See detail
                        </a>
                        <a class="dropdown-item download" data-pjax-state="">
                            Download
                        </a>
                        <a class="dropdown-item edit" data-pjax-state="">
                            Edit
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item trash" data-pjax-state="">
                            Delete item
                        </a>
                    </div>
                </div>
            </div>
        </div><div class="list-item " data-id="9" data-sr-id="10" style="visibility: visible; transform: none; opacity: 1; transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;">
            <div>
                <label class="ui-check m-0 ">
                    <input type="checkbox" name="id" value="9">
                    <i></i>
                </label>
            </div>
            <div>
                <a href="#" data-toggle-class="" data-pjax-state="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark active-primary text-muted"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg>
                </a>
            </div>
            <div>
                <a href="app.user.detail.html#9" data-pjax-state="">
                    <span class="w-40 avatar gd-info" data-toggle-class="loading">
    <span class="avatar-status on b-white avatar-right"></span>
                    <img src="../assets/img/a9.jpg" alt=".">
                    </span>
                </a>
            </div>
            <div class="flex">
                <a href="app.user.detail.html#9" class="item-author text-color " data-pjax-state="">Steven Cruz</a>
                <div class="item-mail text-muted h-1x d-none d-sm-block">
                    steven-cruz@hhhinc.com
                </div>
                <div class="item-tag tag hide">
                    Suppliers,Clients,Partners,Work,Team,Personal,Company,Friends
                </div>
            </div>
            <div>
                <div class="item-action dropdown">
                    <a href="#" data-toggle="dropdown" class="text-muted" data-pjax-state="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                        <a class="dropdown-item" href="#" data-pjax-state="">
                            See detail
                        </a>
                        <a class="dropdown-item download" data-pjax-state="">
                            Download
                        </a>
                        <a class="dropdown-item edit" data-pjax-state="">
                            Edit
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item trash" data-pjax-state="">
                            Delete item
                        </a>
                    </div>
                </div>
            </div>
        </div><div class="list-item " data-id="17" data-sr-id="11" style="visibility: visible; transform: none; opacity: 1; transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;">
            <div>
                <label class="ui-check m-0 ">
                    <input type="checkbox" name="id" value="17">
                    <i></i>
                </label>
            </div>
            <div>
                <a href="#" data-toggle-class="" data-pjax-state="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark active-primary text-muted"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg>
                </a>
            </div>
            <div>
                <a href="app.user.detail.html#17" data-pjax-state="">
                    <span class="w-40 avatar gd-warning" data-toggle-class="loading">
    <span class="avatar-status on b-white avatar-right"></span> H
                    </span>
                </a>
            </div>
            <div class="flex">
                <a href="app.user.detail.html#17" class="item-author text-color " data-pjax-state="">Helen Valdez</a>
                <div class="item-mail text-muted h-1x d-none d-sm-block">
                    helen-valdez@ai.com
                </div>
                <div class="item-tag tag hide">
                    Friends,Partners,Clients,Company,Personal,Team,Suppliers,Work
                </div>
            </div>
            <div>
                <div class="item-action dropdown">
                    <a href="#" data-toggle="dropdown" class="text-muted" data-pjax-state="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                        <a class="dropdown-item" href="#" data-pjax-state="">
                            See detail
                        </a>
                        <a class="dropdown-item download" data-pjax-state="">
                            Download
                        </a>
                        <a class="dropdown-item edit" data-pjax-state="">
                            Edit
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item trash" data-pjax-state="">
                            Delete item
                        </a>
                    </div>
                </div>
            </div>
        </div></div>
    <div class="no-result hide">
        <div class="p-4 text-center">
            No Results
        </div>
    </div>
</div>